In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train=pd.read_csv("/kaggle/input/titanic/train.csv")
df_test=pd.read_csv("/kaggle/input/titanic/test.csv")

In [3]:
df_train.shape

(891, 12)

In [4]:
df_test.shape

(418, 11)

In [5]:
df_train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df_test.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [9]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
df_test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [11]:
df_train.drop(['Name'],axis=1,inplace=True)

In [12]:
df_test.drop(['Name'],axis=1,inplace=True)

In [13]:
df_train.drop(['Fare','Ticket','Cabin'],axis=1,inplace=True)

In [14]:
df_test.drop(['Fare','Ticket','Cabin'],axis=1,inplace=True)

In [15]:
df_train.head(1)

   PassengerId  Survived  Pclass   Sex   Age  SibSp  Parch Embarked
0            1         0       3  male  22.0      1      0        S

In [16]:
df_test.head(1)

   PassengerId  Pclass   Sex   Age  SibSp  Parch Embarked
0          892       3  male  34.5      0      0        Q

In [17]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Embarked         2
dtype: int64

In [18]:
mean=df_train['Age'].mean()
df_train['Age']=df_train['Age'].fillna(value=mean)

In [19]:
df_train['Embarked'].fillna(method='ffill',limit=1,inplace=True)

In [20]:
df_train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [21]:
mean=df_test['Age'].mean()
df_test['Age']=df_test['Age'].fillna(value=mean)

In [22]:
df_test.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [23]:
df_train['Sex'].unique()

array(['male', 'female'], dtype=object)

In [24]:
df_train['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [25]:
sex=df_train.Sex
dum=pd.get_dummies(sex)
dum.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [26]:
df_train=pd.concat([dum,df_train],axis=1)

In [27]:
df_train.drop(['Sex'],axis=1,inplace=True)

In [28]:
df_train['Embarked'].replace(['S','C','Q'],[0,1,2],inplace=True)

In [29]:
df_train.head(5)

   female  male  PassengerId  Survived  Pclass   Age  SibSp  Parch  Embarked
0       0     1            1         0       3  22.0      1      0         0
1       1     0            2         1       1  38.0      1      0         1
2       1     0            3         1       3  26.0      0      0         0
3       1     0            4         1       1  35.0      1      0         0
4       0     1            5         0       3  35.0      0      0         0

In [30]:
sex=df_test.Sex
dum=pd.get_dummies(sex)
dum.head(3)

   female  male
0       0     1
1       1     0
2       0     1

In [31]:
df_test=pd.concat([dum,df_test],axis=1)

In [32]:
df_test.drop(['Sex'],axis=1,inplace=True)

In [33]:
df_test['Embarked'].replace(['S','C','Q'],[0,1,2],inplace=True)

In [34]:
df_test.head(3)

   female  male  PassengerId  Pclass   Age  SibSp  Parch  Embarked
0       0     1          892       3  34.5      0      0         2
1       1     0          893       3  47.0      1      0         0
2       0     1          894       2  62.0      0      0         2

In [35]:
df_train.skew()

female         0.618921
male          -0.618921
PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.434488
SibSp          3.695352
Parch          2.749117
Embarked       1.530148
dtype: float64

In [36]:
df_train['SibSp']=np.sqrt(df_train['SibSp'])
df_train['SibSp'].skew()

1.436526474694446

In [37]:
quantile1=df_train['Parch'].quantile(0.25)
quantile2=df_train['Parch'].quantile(0.75)

In [38]:
df_train['Parch']=np.where(df_train['Parch']<quantile1,quantile1,df_train['Parch'])
df_train['Parch']=np.where(df_train['Parch']>quantile1,quantile1,df_train['Parch'])

In [39]:
df_train['Parch'].skew()

0

In [40]:
quantile1=df_train['Embarked'].quantile(0.25)
quantile2=df_train['Embarked'].quantile(0.75)

In [41]:
df_train['Embarked']=np.where(df_train['Parch']<quantile1,quantile1,df_train['Embarked'])
df_train['Embarked']=np.where(df_train['Parch']>quantile1,quantile1,df_train['Embarked'])

In [42]:
df_train['Embarked'].skew()

1.5301478188887327

In [43]:
df_train['Embarked']=np.log(df_train['Embarked'])
df_train['Embarked'].skew()

/opt/conda/lib/python3.7/site-packages/pandas/core/arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

nan

In [44]:
df_test.skew()

female         0.568991
male          -0.568991
PassengerId    0.000000
Pclass        -0.534170
Age            0.512711
SibSp          4.168337
Parch          4.654462
Embarked       1.162115
dtype: float64

In [45]:
df_test['SibSp']=np.sqrt(df_test['SibSp'])
df_test['SibSp'].skew()

1.291589637233114

In [46]:
quantile1=df_test['Parch'].quantile(0.25)
quantile2=df_test['Parch'].quantile(0.75)

In [47]:
df_test['Parch']=np.where(df_test['Parch']<quantile1,quantile1,df_test['Parch'])
df_test['Parch']=np.where(df_test['Parch']>quantile1,quantile1,df_test['Parch'])

In [48]:
df_test['Parch'].skew()

0

In [49]:
df_test['Embarked']=np.sqrt(df_test['Embarked'])
df_test['Embarked'].skew()

0.7559299216840454

In [50]:
from sklearn.ensemble import RandomForestClassifier
features=['Pclass','female','male','SibSp','Parch']
x=pd.get_dummies(df_train[features])
y=df_train['Survived']

x_test=pd.get_dummies(df_test[features])
model=RandomForestClassifier(n_estimators=100,max_depth=3,random_state=2)
model.fit(x,y)
pred=model.predict(x_test)

In [51]:
pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [52]:
result=pd.DataFrame({'PassengerId':df_test.PassengerId,'Survived':pred})

In [53]:
result.to_csv("sub.csv",index=False)